

body{
    margin: 0;
}
.calc{
    background-color: green;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
  
}

#screen {
   width: 50vw;
    background-color: black;
}